
div#adspot_165204439.adspot {
border-spacing:0;
overflow:hidden;
background-color:#ffffff;
border-color:#ffffff;
border-width:1px;
border-style:solid;
width:152px !important;
font-size:10pt;
}
div#adspot_165204439 .adspot_head {
font-family:Arial;
font-size:10pt;
color:#000000;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
}
div#adspot_165204439 a.adspot_link , div#adspot_165204439 a.adspot_adurl {
font-family:Arial;
font-size:8pt;
font-style:italic;
color:#AA0000;
font-weight:normal;
margin:0;
padding:0;
display: inline;
text-decoration:underline;
text-align:left;
background-image: none;
}
div#adspot_165204439 a.adspot_link:link, div#adspot_165204439 a.adspot_link:visited, div#adspot_165204439 a.adspot_adurl:link, div#adspot_165204439 a.adspot_adurl:visited {
color:#AA0000;
text-decoration:underline;
font-size:8pt;
font-style:italic;
}
div#adspot_165204439 a.adspot_link:active, div#adspot_165204439 a.adspot_link:hover, div#adspot_165204439 a.adspot_adurl:active, div#adspot_165204439 a.adspot_adurl:hover {
color:#AA0000;
text-decoration:none;
}
div#adspot_165204439 * ul {
list-style-position:outside;
list-style-image:none;
list-style-type:none;
width:152px;
margin:0;
padding:0;
}
div#adspot_165204439 * li {
background:#FFFFFF;
width:150px;
margin:0;
margin-bottom:5px;
padding:0;
text-align:left;
border-color:#BBBBBB;
border-width:1px;
border-style:solid;
border-spacing:0;
display:block;
text-indent:0;
overflow:hidden;
line-height: 12px;
}
div#adspot_165204439 span.blogad_rss_ad li {
border: none;
}
div#adspot_165204439 .adspot_adhead {
text-align:left;
font-family:Arial;
font-size:10pt;
font-weight:bold;
color:#000000;
margin:0;
padding:2px;
border-spacing:0;
width:150px;
display:block;
}
div#adspot_165204439 * img {
border-width:0;
border-spacing:0;
}
div#adspot_165204439 * li * img {
text-align:center;
display:block;
clear:both;
margin:auto;
}
div#adspot_165204439 .adspot_adtext {
font-family:Arial;
font-size:8pt;
font-weight:normal;
font-style:normal;
color:#000000;
margin:0;
padding:2px;
border-spacing:0;
display:inline;
clear:both;
width:150px;
text-align:left;
}
div#adspot_165204439 div.adspot_link {
width:152px !important;
text-align:left;
}
