
<table border=1   width=55% align=center bgcolor=#ccdab9>
<td>

<table border=0   width=40% align=center>
<tr> 
	<td>
	<img src="templates/<?=$config['template'];?>/images/login.gif">
	</td>	
	<td>
	<CENTER><br>
	<form action="index.php?module=Login&action=enter" method=post >
	<pre style="margin-top: 0; margin-bottom: 0">
	<b><font color="#FF0000">U</font>sername</b> <input type=text name=login maxlength=18 size=20  >
	<b><font color="#FF0000">P</font>assword</b> <input type=password name=auth_passwd maxlength=18 size=20 >
	</pre><br>
	<input type=submit value="<?=$l_forms['enter'];?>" >  
	</form>
	</center>
	</td>
</tr>
</table>

</td>
</table>
