<table border=1 cellpadding=2 cellspacing=0 bordercolor=#d0d0d0 width=100% align=center>
  <tbody>
    <tr bgColor=#d0d0d0 align = center>
      <td width=2%><strong><a href=index.php?module=Groups&orderby=id><?=$l_tables['number'];?></a></strong></td>
      <td width=10%><strong><a href=index.php?module=Groups&orderby=groupname><?=$l_tables['groupname'];?></a></strong></td>
      <td width=8%><strong><a href=index.php?module=Groups&orderby=limit><?=$l_tables['limit'];?></a></strong></td>
      <td width=8%><strong><a href=index.php?module=Groups&orderby=out_limit><?=$l_tables['out_limit'];?></a></strong></td>
      <td width=10%><strong><?=$l_tables['speed'];?></strong></td>
      <td width=18%><strong><?=$l_tables['tcp_ports'];?></strong></td>
      <td width=18%><strong><?=$l_tables['udp_ports'];?></strong></td>
      <td width=10%><strong><?=$l_tables['auth_type'];?></strong></td>           
      <td width=10%><strong><a href=index.php?module=Groups&orderby=status><?=$l_tables['status'];?></a></strong></td>
      <td width=6%><strong><?=$l_tables['operations'];?></strong></td>
    </tr>
    