<table style="text-align: left; width: 100%;" border="0" cellpadding="0" cellspacing="2">
  <tbody valign='top'>
    <tr align = left >

      <td width=70%>
      </td>

      <td width=17% bgColor=#ffffe1>
      <b><a href="index.php?module=OnLine&mode=active"><?=$l_tables['onl_summ_data'];?></a></b>
      </td>

      <td width=8%>
      
      </td>

      <td width=5%>
      </td>      

    </tr>
    <tr align = left >

      <td width=70%>
      </td>

      <td width=17% bgColor=#d0d0d0>
      <?=$l_tables['onl_summ_in'];?>
      </td>

      <td width=8% bgColor=#bdddc6>
      <b><?=$speed_in_str;?></b>
      </td>

      <td width=5%>
      </td>      

    </tr>
    <tr align = left >

      <td width=70%>
      </td>

      <td width=17% bgColor=#d0d0d0>
      <?=$l_tables['onl_summ_out'];?>
      </td>

      <td width=8% bgColor=#bdddc6>
      <b><?=$speed_out_str;?></b>
      </td>

      <td width=5%>
      </td>      

    </tr>
    
    
  </tbody>
</table>