<tr bgColor=f5f5f5 align = center id="row" onmouseover="this.style.background='#c0c0c0';" onmouseout="this.style.background='#f5f5f5';">
      <td align=left>
      	&nbsp; <a href="http://<?=$urls[$cnt]['url'];?>"><?=$urls[$cnt]['url'];?></a>
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['00'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['00'] != 0): ?>
		<?=$urls[$cnt]['00'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['01'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['01'] != 0): ?>
		<?=$urls[$cnt]['01'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['02'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['02'] != 0): ?>
		<?=$urls[$cnt]['02'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['03'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['03'] != 0): ?>
		<?=$urls[$cnt]['03'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['04'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['04'] != 0): ?>
		<?=$urls[$cnt]['04'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['05'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['05'] != 0): ?>
		<?=$urls[$cnt]['05'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['06'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['06'] != 0): ?>
		<?=$urls[$cnt]['06'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['07'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['07'] != 0): ?>
		<?=$urls[$cnt]['07'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['08'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['08'] != 0): ?>
		<?=$urls[$cnt]['08'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['09'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['09'] != 0): ?>
		<?=$urls[$cnt]['09'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['10'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['10'] != 0): ?>
		<?=$urls[$cnt]['10'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['11'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['11'] != 0): ?>
		<?=$urls[$cnt]['11'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['12'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['12'] != 0): ?>
		<?=$urls[$cnt]['12'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['13'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['13'] != 0): ?>
		<?=$urls[$cnt]['13'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['14'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['14'] != 0): ?>
		<?=$urls[$cnt]['14'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['15'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['15'] != 0): ?>
		<?=$urls[$cnt]['15'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['16'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['16'] != 0): ?>
		<?=$urls[$cnt]['16'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['17'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['17'] != 0): ?>
		<?=$urls[$cnt]['17'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['18'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['18'] != 0): ?>
		<?=$urls[$cnt]['18'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['19'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['19'] != 0): ?>
		<?=$urls[$cnt]['19'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['20'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['20'] != 0): ?>
		<?=$urls[$cnt]['20'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['21'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['21'] != 0): ?>
		<?=$urls[$cnt]['21'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['22'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['22'] != 0): ?>
		<?=$urls[$cnt]['22'];?>
		<? endif; ?> 
      </td>
      <td align=center>
      	<? if ($urls[$cnt]['23'] == 0): ?>
      	.
      	<? endif; ?> 
      	<? if ($urls[$cnt]['23'] != 0): ?>
		<?=$urls[$cnt]['23'];?>
		<? endif; ?> 
      </td>
      <td align=center>
		<?=$urls[$cnt]['total'];?>
      </td>
 </tr>