<br>
<p align=right>
<select name=Map onChange="{
for (var i=0; i < this.length; i++) {
if (this.options[i].selected) {
if (i!=0) {
top.window.location=this.options[i].value;
break;
}
}
}
}
">
<option selected value=#><?=$l_tables['info_about'];?> <?=$_GET['UserName'];?>:
<option value=showinfo.php?UserName=<?=$_GET['UserName'];?>&month=<?=$_GET['month'];?>&action=main><?=$l_tables['main_about'];?>
<option value=showinfo.php?UserName=<?=$_GET['UserName'];?>&month=<?=$_GET['month'];?>&action=connects><?=$l_tables['connections'];?>
<option value=showinfo.php?UserName=<?=$_GET['UserName'];?>&month=<?=$_GET['month'];?>&action=hosts><?=$l_tables['hosts_info'];?>
<option value=showinfo.php?UserName=<?=$_GET['UserName'];?>&month=<?=$_GET['month'];?>&action=hourlystat><?=$l_tables['time_info'];?>
</select></select></form>
</p>